@page
@model HotelMini.Pages.BookingDetails.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.ActualPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.ActualPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.BookingReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.BookingReservation.BookingReservationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.Room.RoomNumber)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
