@page
@model HotelMini.Pages.BookingDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookingDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.ActualPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.ActualPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.BookingReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.BookingReservation.BookingReservationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDetail.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDetail.Room.RoomNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BookingDetail.BookingDetailId" />
        <input type="hidden" asp-for="BookingDetail.BookingReservationId" />
        <input type="hidden" asp-for="BookingDetail.RoomId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
